video {
    width: 100%;
    height: auto;
}

.play, .pause {
    height: 50px;
    position: auto;
    width: 100px;
    z-index: 0;
    font-size: 20px;
    border-color: red;
}

.stop {
    height: 50px;
    width: 70px;
    color: #000FFF;
}

.playlist {
    color: #00FFFF;
}

//css experimenting
.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.2s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

/////
.volume-minus {
    width: 70px;
    height: 70px;
    background-image: url(https://s3-eu-west-1.amazonaws.com/projectcirrus/assets/css+images/icons/mute.png);
    background-position: center;
    text-indent: autopx;
}

.volume-plus {
    width: 70px;
    height: 70px;
    background-image: url(https://s3-eu-west-1.amazonaws.com/projectcirrus/assets/css+images/icons/vol-on.png);
    background-position: center;
}

.mute:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

//
.mute {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.mute:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.mute:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.unmute {
    position: relative;
    background-color: #FF0000;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.unmute:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.unmute:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
